<div class="header">
  <span class="appname">
    <label>
      ToDo App
    </label>
  </span>
  <span class="logout">
    <%= link_to 'Log Out',login_logout_url %>
  </span>
</div> 

<h1 class="titles"> <%= @name %>'s Doing  Task </h1>
<%= link_to 'ToTodo' ,'/todo' ,:class => "dtotodo" %>
<%= link_to 'ToDone','/done',:class => "todone" %>
<% @todo.each do |d| %>
  <div class="tasks">
    <span class="outspan">
      <span class="todocon">
        Content:<%= d.content %>
      </span>
      <span class="todomemo">
        Memo:<%= d.memo %>
      </span>
    </span>

    <span class="taskcheng">
      <%= link_to 'Doneへ' ,doing_cheng_path(d) %>
    </span>
    <span class="tdestroy">
      <%= link_to '削除',doing_destroy_url(d) %>
    </span>
  </div>
<% end %>
