<div class="header">
  <span class="appname">
     <label>
       <%= link_to 'Monolith',root_path %>
     </label>
   </span>
</div> 

<h1 class="cache"> Login </h1>

 <%= form_for :login,:url => "login#create" do |f| %>
   <div class="loginform">
     <div class="id_in">
       <%= f.label :user_id,"ID" %>
       <%= f.text_field :user_id %>
     </div>

     <div class="passwd_in">
       <%= f.label :user_passwd,"Pass Word" %>
       <%= f.password_field :user_passwd %>
     </div>

     <div class="submit_bt">
       <%= f.submit 'login' %>
     </div>
   </div>
 <% end %>

<div class="backbt">
  <%= link_to '戻る',root_path %>
</div>



