  
  <h1 class="newtask_title">Task Add </h1>

  <%= form_for :newtask,:usl => 'todo#create' do |f| %>
    <div class='innewtask'>
      <div class="newcont">
        <%= f.label :content,"内容" %>  
        <%= f.text_field :content,:maxlength => 20 %>
      </div>
      <div class="newmemo">
        <%= f.label :memo,"メモ" %>
        <%= f.text_area :memo,:maxlength => 80 %>
      </div>
      <div class="newsubmit">
        <%= f.submit '登録' %>
      </div>
      <div class="backbt">
        <%= link_to "戻る",:controller => 'todo',:action => 'index' %>
      </div>
    </div>
  <% end %>
