<div class="header">
  <span class="appname">
     <label>
       Monolith
     </label>
  </span>
  <span class="logout">
     <%= link_to 'Log Out',login_logout_url %>
  </span>
</div>   
  <h1 class="ttitles">Task Add </h1>

  <%= form_for :newtask,:usl => 'todo#create' do |f| %>
    <div class='innewtask'>
      <span class="contlabel">
        <%= f.label :content,"内容" %>  
      </span>
      <div class="newcont">
        <%= f.text_field :content,:maxlength => 20 %>
      </div>
      <span class="memolabel">
        <%= f.label :memo,"メモ" %>
      </span>
      <div class="newmemo">
        <%= f.text_area :memo,:maxlength => 80,:size => '30x10' %>
      </div>
      <div class="newsubmit">
        <%= f.submit '登録' %>
      </div>
      <div class="backbt">
        <%= link_to "戻る",:controller => 'todo',:action => 'index' %>
      </div>
    </div>
  <% end %>
